@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@600&display=swap');
body {
    background-color: #c8102e;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 5;
    padding: 0;
}
.logo{
    text-align: center;

}
h1{
    text-align: center;
    padding: 10px;
    font-family: "Times New Roman", serif;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

h2{font-family: 'Hind Madurai', sans-serif;
    font-size: 25px;
    margin: 10;
    text-decoration: underline;
}

p{
    text-align: center;
    padding: 10px;font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    color: #fcf9f9;
}
 .player-position{
    color:#c8102e;
    text-align: center;
 }

header {
    background-color: #ffffff;
    color: #c8102e;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
nav {
    background-color: #c8102e;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    background-color: #ffffff;
    color: #c8102e;
    border-radius: 5px;
}


main {
    padding: 20px;
    text-align: center;
}

.player-card {
    background-color: white;
    color: #c8102e;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.player-card h2 {
    font-size: 22px;
}

.player-card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: black;
}
footer {
    background-color: #c8102e;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}
img {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}
